@font-face {
    font-family: "MyFont";
    src: url("../fonts/Ma_Shan_Zheng/MaShanZheng-Regular.ttf") format(truetype);
}

html {
    font-size: 10px;
    font-family: "MyFont", sans-serif;
    color: gray;
    background-color: #feffef;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #c6ecf1;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 10px auto;
    width: 200px;
}

p, li , a {
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
}